@model L20240408.EntidadesDeNegocios.PersonaL

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Estás seguro de eliminar este registro?</h3>
<div>
    <h4>Persona</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidoL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNacimientoL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimientoL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SueldoL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SueldoL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusL)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
