@model IEnumerable<L20240408.EntidadesDeNegocios.PersonaL>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimientoL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SueldoL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimientoL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SueldoL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusL)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }) })
            </td>
        </tr>
}
    </tbody>
</table>
